.section-2 {
    width: 100%;
    margin-top: 100px;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: -80px;
    padding: 32px;
}

.sobre-mim p {
    width: 500px;
    line-height: 22px;
    text-align: center;
    margin-top: 32px;
}

.section-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
    padding: 20px;
    margin-top: -32px;
}

.skills {
    width: 250px;
    height: 250px;
    padding: 20px;
    margin-top: 100px;
    background-color: #272727;
    border-radius: 10px;
}

.skills:hover {
    background-color: #2ecc71;
}

.skills:active {
    transform: scale(0.95);
}

.skills-info {
    color: #fff;
    font-size: 12px;
    padding-top: 32px;
}

.skills-h2 {
    font-size: 28px;
    color: #fff;
}

.skills-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    color: #fff;
}

.portifolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portifolio h2 {
    text-align: center;
    color: #fff;
    margin: 48px;
}

.section-portifolio img {
    padding-left: 86px;
}

.section-portifolio {
    width: 250px;
    height: 250px;
    padding: 20px;
    margin-top: 48px;
    background-color: #272727;
    border-radius: 10px;
}

.container-xp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xp-zone {
    width: 300px;
    height: 120px;
    margin-right: 80px;
}